body{
  background-color: #EC0B43;
}

.jt-container{
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 150px 200px;
  text-align: center;
  background-color: #D6FFB7;
}

.jt-container-2{
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 150px 200px;
  text-align: center;
  background-color: #FFF689;
}

#result{
  margin-top: 10px;
}

#result-numero, #numero-computer{
  margin-top: 10px;
  color: #58355E;
}
